

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000;
$white: #fff;


a:link, a:visited{
    text-decoration: none; 
}

//rejestracja

.registerBox{
    width:400px;
    height: 200px;
    border:2px solid $blue;
    display: flex;
    flex-direction:column;
    align-items:center;
    color:black;
    background-color: $white;
    padding:15px 5px;
    margin-right: 15px;
    border-radius: 15px;
}

.registerBox:hover{
    border:3px solid #1556a3;
    background-color: #78b0ff;
}

.icon{
    width: 50px;
    height: 50px;
    border:1px solid $black;
}

.title{
    font-size:20px;
    font-weight: bold;
    padding:10px 0px;
}

input[type=file]{
    border:0;
}

#image{
    margin:auto;
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.avatar{
    width:400px;
    background-color: red;
}

.avatar-circle{
    width:38px;
    height:38px;
    border-radius: 50%;
}

.likeBusiness{
    border:1px solid black;
    margin-right: 10px;
    height: 100px;
}

.links{
    text-decoration: none;
    color:black;
}

.deleteLink{
    position:absolute;
    right:0;
}

#textArea{
    width: 400px;
    height: 100px;
}

#selectRating{
    width:80px;
}

//business.index
.boxBusiness{
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    border:1px solid black;
}

.boxBusiness:hover{
    background-color: silver;
}

.businessBoxTitle{
    color:black;
    font-size: 22px;
    text-align: left;
    padding:5px 0 0 15px;;

}

.businessBoxNotifications{
    color:black;
    font-size: 25px;
    text-align: center;
    padding:5px 0;
}

.businessBoxDefault{
    width: 300px;
    height: 250px;
    border:1px solid black;
    text-align: center;
    line-height: 250px;
    color:black;
    font-size: 20px;
}

.businessBoxDefault a{
    color:black;
}

.businessBox{
    width:300px;
    height: 80px;
    background-color: #fff;
    padding:5px 0;
    margin-right:10px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
}

.businessBoxIcon{
    float:left;
    padding:15px 0 0 15px;
}

.businessBoxIcon i{
    font-size:35px;
}

.businessBoxRight{
    float:right;
    text-align:right;
    padding:5px 10px 0 0;
}

.businessBoxNubmer{
    font-size:22px;
}

.businessBoxText{

}

.filter{
    display: flex;
    align-items: row;
}

.filter-title{
    height:40px;
    font-size:22px;
    color:#656d79;
    border-bottom:1px solid silver;
}

.date-filter{
    width:170px!important;
    height: 34px!important;
}

.filter-input{
    height: 34px!important;
}

.filter-button{
    width: 100px!important;
    height: 34px!important;
}

.reservation-empty{
    font-size:24px;
    text-align: center;
    margin-top:40px;
    color:#656d79;
}

.guestBox{
    width:330px;
    height: 70px;
    background-color: #fff;
    padding:5px 0;
    margin-right:10px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
}

.guestBoxIcon{
    float:left;
    padding:15px 0 0 15px;
}

.guestBoxIcon i{
    font-size:30px;
    cursor:default;
}

.guestBoxRight{
    float:right;
    text-align:right;
    padding:0 10px 0 0;
}

.guestBoxNubmer{
    font-size:24px;
}

.guestBoxText{
    font-size:17px;
}


.nameGroupTask{
    color: #000;
    font-size: 20px;
    background-color: #3490dc;
    margin-bottom: -60px;
}


.task:hover{
    background-color: #ececec;
}

.titlePage{
    font-size: 24px;
    color:#656d79;
}

.taskChecked{
    background-color: #8cc8ff;
}

.reservationBox{
    background-color: sandybrown;
}

//notifications
.greenNotification{
    border-left:6px solid #4caf50!important;
}

.redNotification{
    border-left:6px solid #f44336!important;
}

.blueNotification{
    border-left:6px solid #00b0e4!important;
}

.notificationCard{
    height: 80px!important;
}

.notificationHeader{
    height: 30px!important;
    padding:5px 0 0 5px;
    margin:0;
    font-size:16px;
}

.notificationTitle{
    padding:5px 0 0 5px;
    margin:0;
    font-size:20px;
}

.serviceBoxButton{
    background-color: #fff;
    width: 31%;
    height: 120px;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.13);
    margin-right: 15px;
    margin-bottom: 15px;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding:3px;
    text-decoration:none!important;
}


.serviceBoxButton:hover{
    background-color: #3490dc;
    color:#fff;
}

.serviceBoxTitle{
    font-size: 23px;
}

.indexBoxName{
    background: #fff;
    width: 300px;
    height: 240px;
    border-radius: 4px;
    border:1px solid #fefefe;
    margin-right: 15px;
    margin-bottom: 15px;
    color:#000;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
}

.indexBoxNameCategory{
    display: flex;
    justify-content: center;
    font-size:25px;
    color:#000;
}

.indexBoxNameTitle{
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.indexBoxNameDays{
    display: flex;
    justify-content: center;
}

.indexBoxNameDaysNumber{
    font-size: 70px;
    justify-content: center;
}

.indexBoxNameDate{
    font-size: 18px;
    display: flex;
    justify-content: center;
    color:#000;
}   

.indexBoxEvent{
    width: 370px;
    height: 150px;
    border-radius: 4px;
    margin-bottom: 15px;
    color:black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none!important;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    background-color: #fff;
}

.indexBoxEventText{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding-bottom:5px;
}

.indexBoxEventNumberText{
    padding-left:15px;
    color:#656d79;
}

.indexBoxEventNumber{
    align-items: center;
    margin-left: 20px;
    padding-right: 20px;
    font-size:20px;
    color:#000;
}


.indexBoxEventNumberGreen{
    color:#91cc75;
}

.indexBoxEventNumberBlue{
    color:#5c7bd9;
}

.indexBoxEventNumberGold{
    color:#fac858;
}

.indexBoxEventPdf{
    width: 370px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 15px;
    color:black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none!important;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    background-color: #fff;
}

.text-pdf{
    line-height: 50px;
    margin-left: 10px;
    font-size:18px;
}

.btn-pdf{
    width:130px;
    height: 40px;
    background: #db3444;
    color:#fff;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    margin-top:5px;
    margin-right:10px;
    cursor: pointer;
}

.btn-pdf i{
    margin-right:5px;
}

.btn-pdf:hover{
    background: #c82333;
}

.percentageEvent{
    padding-left:15px;
    padding-bottom:10px;
    color:#656d79;
}

.indexBoxEventName{
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size:25px;
    color:#000;
}

.indexBoxReservation{
    width: 30%;
    min-height: 100px;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding:5px;
    color:black;
    display: flex;
    flex-direction: column;
    text-decoration: none!important;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    background-color: #fff;
}


.indexBoxReservationName{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size:25px;
    color:#000;
    padding-top:10px;
}

.indexBoxReservationNumber{
    width: 100%;
    font-size:16px!important;
    display: flex;
    justify-content: left;
    font-size:25px;
    color:#000;
}

.timeName{
    color:#000;
    font-weight:400;
}

.fc-today-button{
    background:#2c3c50!important;
    color:#fff!important;
    border:0!important;
    margin-right:15px!important;
    width:60px!important;
    font-weight: 300!important;
}

.fc-prev-button{
    background:#2c3c50!important;
    color:#fff!important;
    border:0!important;
    border-radius: 5px 0 0 5px!important;
    margin:0!important;
    padding:0!important;
    width:50px!important;
}

.fc-next-button{
    background:#2c3c50!important;
    color:#fff!important;
    border:0!important;
    margin:0!important;
    padding:0!important;
    width:50px!important;
    border-radius:0 5px 5px 0!important; 
}

.fc-next-button:hover, .fc-prev-button:hover{
    background-color: #496180!important;
}

.progressSize{
    width:100%;
}

.progress{
    margin-bottom:10px; 
    margin-left:15px; 
    margin-right:15px; 
    height:10px!important;
    background-color: #f8f8f7;
}

.progress-bar-green{
    background-color: #91cc75!important;
}

.progress-bar-blue{
    background-color: #5c7bd9!important;
}

.progress-bar-gold{
    background-color: #fac858!important;
}

.calendar{
    background-color: #fff;
    padding:20px;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
}

.indexBoxFinances{
    height: 130px;
    width: 32%;
    border-radius: 4px;
    margin-bottom: 15px;
    color:#000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none!important;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    padding-left:15px;
    background-color: #fff;
}

.indexBoxFinancesName{
    font-size:19px;
}

.indexBoxFinancesNumber{
    font-size:40px;
}

.pln{
    font-size:22px;
}

.table-button{
    text-align:left;
}   

.table-button:hover{
    background:#fff;
}

.serviceBoxBusiness{
    background-color: #fff;
    width: 500px;
    height: 160px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.13);
    margin-right: 15px;
    margin-bottom: 15px;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceBoxBusiness:hover{
    background-color: #3490dc;
    color:#fff;
}

html{
    min-height: 100%;
}

body {
    font-family: inherit!important;
    background: #f4f7fa!important;
    height: 100%;
    }
    @media (min-width: 991.98px) {
    main {
        padding-left: 230px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    background: #558ACA!important;
    //background: linear-gradient(126deg, rgba(95,83,243,1) 0%, rgba(112,110,245,1) 100%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


//BUSINESS
.businessBoxButtonCategory{
    background-color: #fff;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.13);
    margin-right: 15px;
    margin-bottom: 15px;
    font-size:25px;
    color:black;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.businessBoxButton{
    background-color: #fff;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.13);
    margin-right: 15px;
    margin-bottom: 15px;
    font-size:25px;
    color:black;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.businessBoxButton:hover{
    background-color: #3490dc;
    color:#fff;
}

.businessBoxButtonTitle{
    font-size:20px;
    font-weight: bold;
    padding:10px 0px;
}   

.businessBoxButtonDescription{
    font-size:16px;
    padding:10px 0px;
}  

.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding:20px;
    width:800px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    background-color: #fff;
}

.sectionTittle{
    font-size: 20px;
}   

.sectionBorder{
    border-top:1px solid #000;
}

.textTittle{
    display:flex;
    justify-content: flex-start;display: inline-block;
}

.showSectionButton{
    float:right;
}

.showSectionButton a{
    color:#000;
}


.space{
    width:100%;
    height: 80px;
}

.space40{
    width:100%;
    height: 40px;
}

.navbar{
    box-shadow: 0px 1px 9px -5px rgba(66, 68, 90, 1);
}

.myButton{

}

.groupList{
    border-radius: 5px;
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    background-color: #fff;
} 

.taskComplete{
    padding:0 0 0 1px;
    margin:0px;
    background-color: transparent;
    border:0;
}

.taskComplete:hover{

}

.guestConfirm{
    padding:0 0 0 1px;
    margin:0px;
    width:26px;
    height:26px;
    border:0;
    background-color: transparent;
}

table th {
    text-align: center; 
}

tr td {
    text-align: center; 
 }
 

.stasGuestsBox{
    height:200px;
}

.numberAllGuests{
    font-size:70px;
    height:100px;
    width:100%;
    text-align: center;
    line-height: 110px;
}

.textAllGuests{
    border-bottom:1px solid #ddd;
}

.statsText{
    padding:10px 0;
    width:95%;
    font-size:22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.numberConfirm{
    font-size:30px;
}

.numberConfirmText{
    padding:5px 0 0 0;
}

.reservationCard{
    padding:0;
    margin:0;
    height:200px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 13px -8px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 2px 13px -8px rgba(66, 68, 90, 1);
    box-shadow: 2px 2px 13px -8px rgba(66, 68, 90, 1);
}

.reservationImg{
    height:198px;
}

.reservationImg img{
    height:100%;
}

.deleteEvent{

}

.deleteEvent:hover{
    background-color:#e3342f;
    cursor: pointer;
    color: #fff;
}   

.noResultsSearch{
    font-size:25px;

}

.fas{
    font-size:20px;
    cursor: pointer;
}

.iconGuest{
    font-size:22px;
    cursor: default;
}

.searchPage{
    height:198px;
}

.searchPage img{
    height:100%;
}



.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;

    label {
        padding: 12px 30px;
        width: 100%;
        display: block;
        text-align: left;
        color: #3C454C;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
        border:1px solid #ddd;

        &:before {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background-color: #5562eb;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            opacity: 0;
            z-index: -1;
        }

        &:after {
            width: 32px;
            height: 32px;
            content: '';
            background-color: #fff;
            background-position: 2px 3px;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 200ms ease-in;
            visibility: hidden;
        }
    }

    input:checked ~ label {
        color: #fff;

        &:before {
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
        }

        &:after {
            background-color: #54E0C7;
            border-color: #54E0C7;
        }
    }

    input {
        width: 32px;
        height: 32px;
        order: 1;
        z-index: 2;
        position: absolute;
        top: 50%;
        right:0;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
    }
}

.inputGroupAdditional{
    label {
        &:before {
            background-color: #5562eb!important; 
        }
    }
}

.inputGroupPopular{
    label {
        &:before {
            background-color: #5562eb!important; 
        }
    }
}

.inputGroupUser{
    label {
        &:before {
            background-color: #5562eb!important; 
        }
    }
}
//############################